{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 *
 * @see template_preprocess_node()
 *
 */
#}
<style>
.plan_detail, .tourism_con, .about_list_item {
    background-color: #fff;
    box-shadow:0 2px 10px #c4b8a7
}

.menu_bnr {
    display:flex
}

.menu_bnr_link {
    display: block;
    background-color: #fff;
    box-shadow:0 3px 6px rgba(0, 0, 0, .16)
}

.menu_bnr_link_item {
    display: grid;
    grid-template-columns:1fr 1fr
}

.menu_bnr_link_item_txt {
    order: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:.5em
}

.menu_bnr_link_item_txt::after {
    content: "";
    aspect-ratio: 1;
    background: url(/assets/img/common/arrow.svg) no-repeat;
    background-size:contain
}

.menu_bnr_link_item img {
    display: block;
    margin-left:auto
}

.menu_bnr_link_column {
    display: grid;
    position:relative
}

.menu_bnr_link_column::before {
    content: "";
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    inset:0
}

.menu_bnr_link_column > * {
    grid-column: -1/-1;
    grid-row:-1/-1
}

.menu_bnr_link_column_txt {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    color: #fff;
    z-index:1
}

.menu_bnr_link_column_txt::after {
    content: "";
    aspect-ratio: 1;
    background-color: #fff;
    -webkit-mask-image: url(/assets/img/common/arrow.svg);
    mask-image: url(/assets/img/common/arrow.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    position: absolute;
    top: 50%;
    transform:translateY(-50%)
}

@media all and (min-width: 768px) {
    .menu_bnr {
        flex-wrap: wrap;
        justify-content: center;
        gap:30px 60px
    }

    .menu_bnr_link {
        width: 550px;
        font-size:24px
    }

    .menu_bnr_link > * {
        transition:.4s ease-out
    }

    .menu_bnr_link:hover > * {
        opacity:.7
    }

    .menu_bnr_link_item_txt::after {
        width:30px
    }

    .menu_bnr_link_column_txt {
        margin: 12px;
        padding:0 62px
    }

    .menu_bnr_link_column_txt::after {
        width: 30px;
        right:44px
    }
}

@media screen and (max-width: 767px) {
    .menu_bnr {
        flex-direction: column;
        row-gap:25px
    }

    .menu_bnr_link {
        font-size:18px
    }

    .menu_bnr_link_item_txt::after {
        width:24px
    }

    .menu_bnr_link_column_txt {
        margin: 10px;
        padding:0 42px
    }

    .menu_bnr_link_column_txt::after {
        width: 24px;
        right:30px
    }
}

.about_list {
    display:grid
}

.about_list_item_img {
    display: grid;
    position:relative
}

.about_list_item_img::after {
    content: "";
    display: inline-block;
    aspect-ratio: 1;
    background: url(/assets/img/common/ornament03.svg) no-repeat;
    background-size: contain;
    position: absolute;
    left: -10px;
    z-index:1
}

.about_list_item_img > * {
    grid-column: -1/-1;
    grid-row:-1/-1
}

.about_list_item_img_txt {
    align-self: flex-end;
    justify-self: flex-start;
    display: flex;
    align-items: center;
    padding: 0 .7em;
    background-color:#fff
}

.about_list_item_img_txt::before, .about_list_item_img_txt::after {
    left:.7em
}

.about_list_item_desc {
    padding:1.5em 1em
}

@media all and (min-width: 768px) {
    .about_list {
        grid-template-columns: repeat(3, 1fr);
        gap:40px 25px
    }

    .about_list_item_img::after {
        width: 36px;
        bottom:44px
    }

    .about_list_item_img_txt {
        height:55px
    }
}

@media screen and (max-width: 767px) {
    .about_list {
        gap:30px
    }

    .about_list_item_img::after {
        width: 30px;
        bottom:28px
    }

    .about_list_item_img_txt {
        height:35px
    }

    .about_list_item_desc {
        font-size:14px
    }
}

.splide__arrows {
    width: 100%;
    position: absolute;
    inset: 0 auto 0 50%;
    transform: translateX(-50%);
    z-index: 1;
    pointer-events:none
}

.splide__arrow {
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/assets/img/common/arrow02.svg) no-repeat 50% 50%;
    background-size: contain;
    position: absolute;
    pointer-events: auto;
    transition:.4s ease-out
}

.splide__arrow[disabled] {
    opacity:.4 !important
}

.splide__arrow svg {
    display:none
}

.splide__arrow--prev {
    inset: 50% auto auto 0;
    transform:translateY(-50%) translateX(-50%) rotate(180deg)
}

.splide__arrow--next {
    inset: 50% 0 auto auto;
    transform:translateY(-50%) translateX(50%)
}

@media all and (min-width: 768px) {
    .splide__arrow {
        width:50px
    }

    .splide__arrow:hover {
        opacity:.7
    }
}

@media screen and (max-width: 767px) {
    .splide__arrow {
        width:40px
    }
}

.tourism_con_list {
    display:grid
}

.tourism_consldr_item {
    display: grid;
    padding:0 15px
}

.tourism_consldr_item_data_name {
    margin-bottom: .8em;
    text-align:center
}

.tourism_consldr_item_data_desc ~ .tourism_consldr_item_data_desc {
    margin-top:.8em
}

.tourism_consldr_item img {
    aspect-ratio: 3/2;
    -o-object-fit: cover;
    object-fit:cover
}

.tourism_consldridx {
    margin-top: .4em;
    text-align: center;
    color:#c4b174
}

@media all and (min-width: 768px) {
    .tourism_con {
        padding: 50px 100px;
        margin-bottom:70px
    }

    .tourism_con_list {
        margin-bottom:50px
    }

    .tourism_con_list li:nth-of-type(1) {
        grid-column: 2/3;
        grid-row:1/3
    }

    .tourism_con_list li:nth-of-type(2) {
        grid-column: 1/2;
        grid-row:1/2
    }

    .tourism_con_list li:nth-of-type(3) {
        grid-column: 1/2;
        grid-row:2/3
    }

    .tourism_con_list li a {
        pointer-events: none;
        cursor:default
    }

    .tourism_consldr {
        padding:0 30px
    }

    .tourism_consldr_item {
        grid-template-columns: 1fr 435px;
        align-items: flex-start;
        -moz-column-gap: 20px;
        column-gap:20px
    }

    .tourism_consldr_item_data {
        order:-1
    }

    .tourism_consldr_item_data_name {
        font-size:22px
    }

    .tourism_consldridx {
        font-size:40px
    }
}

@media screen and (max-width: 767px) {
    .tourism_con {
        padding: 30px 10px;
        margin-bottom:50px
    }

    .tourism_con_note {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .2em;
        margin-bottom:20px
    }

    .tourism_con_note_icon {
        position:relative
    }

    .tourism_con_note_icon ion-icon[name=search-outline] {
        font-size:20px
    }

    .tourism_con_note_icon ion-icon[name=add-outline] {
        font-size: 10px;
        position: absolute;
        inset: 4px auto auto 4px;
        z-index:1
    }

    .tourism_con_list {
        gap: 20px;
        margin-bottom:40px
    }

    .tourism_con_list_item {
        display: grid;
        gap:.5em
    }

    .tourism_con_list_item .ttl02 {
        order:-1
    }

    .tourism_con_list_item img {
        width:100%
    }

    .tourism_consldr_item {
        row-gap:15px
    }

    .tourism_consldr_item_data_name {
        font-size:18px
    }

    .tourism_consldr_item_data_desc {
        font-size:14px
    }

    .tourism_consldridx {
        font-size:30px
    }
}

.plan_detail {
    margin-bottom:40px
}

.plan_detail_anc {
    margin-bottom:40px
}

.plan_detail_anc_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 3.4em;
    padding: .4em;
    line-height: 1.2em;
    text-align: center;
    border: 1px solid #aa2828;
    color:#aa2828
}

.plan_detail_list_item ~ .plan_detail_list_item {
    position: relative;
    z-index:1
}

.plan_detail_list_item ~ .plan_detail_list_item::before {
    content: "";
    display: block;
    height: 8px;
    border-top: 1px solid #aa2828;
    border-bottom: 1px solid #aa2828;
    position: absolute;
    inset: 0 0 auto;
    z-index: -1;
    transform: translateY(-50%);
    pointer-events:none
}

.plan_detail_list_item_ttl {
    display: flex;
    align-items: center;
    gap: .4em;
    margin-bottom: .8em;
    color: #7d7b78;
    white-space:nowrap
}

.plan_detail_list_item_ttl::before, .plan_detail_list_item_ttl::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color:#7d7b78
}

.plan_detail_list_item_season {
    display: flex;
    flex-direction: column;
    row-gap: .2em;
    color:#aa2828
}

.plan_detail_list_item_season small {
    font-size:.9em
}

.plan_detail_list_item_img img {
    width: 100%;
    aspect-ratio: 71/100;
    -o-object-fit: cover;
    object-fit:cover
}

.plan_detail_list_item_img_main {
    margin-bottom:2px
}

.plan_detail_list_item_set_desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    background-color:#fbfaf8
}

.plan_detail_list_item_set_desc_aw {
    width:100%
}

.plan_detail_list_item_set_desc_aw_ttl {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    margin-top: 1em;
    color:#aa2828
}

.plan_detail_list_item_set_desc_aw_ttl::before, .plan_detail_list_item_set_desc_aw_ttl::after {
    content: "";
    width: 1.2em;
    height: 1px;
    background-color:#aa2828
}

.plan_detail_list_item_optionlist {
    display:grid
}

.plan_detail_list_item_optionlist img {
    width:100%
}

.plan_detail_list_item_optionlist_box {
    background-color:#fbfaf8
}

.plan_detail_list_item_optionlist_box_data_ttl {
    margin-bottom: .6em;
    padding-left: .6em;
    border-left:4px solid #aa2828
}

@media all and (min-width: 768px) {
    .plan_detail {
        padding:70px 100px 10px
    }

    .plan_detail_anc {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px 20px;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        font-size:18px
    }

    .plan_detail_anc_btn {
        min-width: 220px;
        transition:.4s ease-out
    }

    .plan_detail_anc_btn:hover {
        opacity:.7
    }

    .plan_detail_list {
        padding-top:20px
    }

    .plan_detail_list_item {
        display: grid;
        grid-template-columns: 1fr auto auto;
        grid-template-rows: auto auto 1fr auto;
        padding-bottom:60px
    }

    .plan_detail_list_item ~ .plan_detail_list_item {
        padding-top:60px
    }

    .plan_detail_list_item .ttl03 {
        grid-column: 1/3;
        grid-row: 1/2;
        margin-bottom:1em
    }

    .plan_detail_list_item_ttl {
        font-size:22px
    }

    .plan_detail_list_item_season {
        grid-column: 1/2;
        grid-row: 2/3;
        align-self: center;
        white-space: nowrap;
        font-size:18px
    }

    .plan_detail_list_item_price {
        flex: none;
        grid-column: 2/3;
        grid-row: 2/3;
        font-size: 36px;
        white-space:nowrap
    }

    .plan_detail_list_item_price span {
        font-size:16px
    }

    .plan_detail_list_item_set {
        grid-column: 1/3;
        grid-row: 3/4;
        margin-top:36px
    }

    .plan_detail_list_item_img {
        grid-column: 3/4;
        grid-row: 1/4;
        width: 355px;
        margin-left:50px
    }

    .plan_detail_list_item_option {
        grid-column: 1/4;
        grid-row: 4/5;
        margin-top:60px
    }

    .plan_detail_list_item_optionlist {
        grid-template-columns: repeat(3, 1fr);
        gap:22px
    }

    .plan_detail_list_item_optionlist_box_data {
        padding: 20px;
        font-size:18px
    }

    .menu_bnr, .plan_about, .plan_tourism {
        margin-bottom:80px
    }
}

@media screen and (max-width: 767px) {
    .plan_detail {
        padding:40px 20px 0
    }

    .plan_detail_anc {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        font-size:14px
    }

    .plan_detail_list_item {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        padding-bottom:40px
    }

    .plan_detail_list_item ~ .plan_detail_list_item {
        padding-top:40px
    }

    .plan_detail_list_item .ttl03 {
        margin-bottom: 10px;
        font-size:22px
    }

    .plan_detail_list_item_ttl {
        font-size:20px
    }

    .plan_detail_list_item_price {
        font-size:28px
    }

    .plan_detail_list_item_price span {
        font-size:14px
    }

    .plan_detail_list_item_img {
        margin:10px 0
    }

    .plan_detail_list_item_img img {
        width:100%
    }

    .plan_detail_list_item_set_desc {
        font-size:15px
    }

    .plan_detail_list_item_option {
        margin-top:40px
    }

    .plan_detail_list_item_optionlist {
        grid-template-columns: repeat(2, 1fr);
        gap:20px 14px
    }

    .plan_detail_list_item_optionlist_box_data {
        padding: 15px 10px;
        font-size:14px
    }

    .menu_bnr, .plan_about, .plan_tourism {
        margin-bottom: 60px
    }
}
</style>

<hgroup class="main_ttl">
    <h1 class="main_ttl_txt">Rental plan</h1>
    <p class="main_ttl_bg">
        <picture>
            <source media="(max-width: 767px)" srcset="https://kimono-fukumoto.com/assets/img/plan/mv_sp.jpg">
            <source media="(min-width: 768px)" srcset="https://kimono-fukumoto.com/assets/img/plan/mv_pc.jpg">
            <img src="https://kimono-fukumoto.com/assets/img/plan/mv_pc.jpg" alt="Rental plan" width="100%" height="352" loading="lazy" class="main_ttl_bg_img">
        </picture>
    </p>
</hgroup>

<section class="plan_detail contents_wrp">
    <h1 class="ttl01">{{ label }}</h1>

    <ul class="plan_detail_list">
        <li class="plan_detail_list_item">
            <h2 class="ttl03">{{ label }}</h2>

            <p class="plan_detail_list_item_season">
                <small>Reservation only, regular price 5,500 yen</small>
            </p>
            <div class="plan_detail_list_item_price" style="display:flex;align-items: flex-end;">
                {{ content.field_price }}
                <span>円（tax included）</span>
            </div>

            <div class="plan_detail_list_item_img">
                <div class="splide plan_detail_list_item_img_main">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide">
                                <img src="https://kimono-fukumoto.com/manager/wp-content/uploads/2023/03/komon-2..jpg" alt="Komon Kimono Plan" width="355" height="500">
                            </li>
                            <li class="splide__slide">
                                <img src="https://kimono-fukumoto.com/manager/wp-content/uploads/2023/03/尺寸修改_页面_04.jpg" alt="" width="355" height="500" loading="lazy">
                            </li>
                            <li class="splide__slide">
                                <img src="https://kimono-fukumoto.com/manager/wp-content/uploads/2023/03/尺寸修改_页面_02.jpg" alt="" width="355" height="500" loading="lazy">
                            </li>
                            <li class="splide__slide">
                                <img src="https://kimono-fukumoto.com/manager/wp-content/uploads/2023/03/尺寸修改_页面_03.jpg" alt="" width="355" height="500" loading="lazy">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="splide plan_detail_list_item_img_thumb">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide">
                                <img src="https://kimono-fukumoto.com/manager/wp-content/uploads/2023/03/komon-2.-320x450.jpg" alt="" width="116" loading="lazy">
                            </li>
                            <li class="splide__slide">
                                <img src="https://kimono-fukumoto.com/manager/wp-content/uploads/2023/03/尺寸修改_页面_04-320x450.jpg" alt="" width="116" loading="lazy">
                            </li>
                            <li class="splide__slide">
                                <img src="https://kimono-fukumoto.com/manager/wp-content/uploads/2023/03/尺寸修改_页面_02-320x450.jpg" alt="" width="116" loading="lazy">
                            </li>
                            <li class="splide__slide">
                                <img src="https://kimono-fukumoto.com/manager/wp-content/uploads/2023/03/尺寸修改_页面_03-320x450.jpg" alt="" width="116" loading="lazy">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <script src="https://unpkg.com/@splidejs/splide@3.6.9/dist/js/splide.min.js"></script>
            <script>

              const main = new Splide('.plan_detail_list_item_img_main', {
                type: 'fade',
                rewind: true,
                pagination: false,
                arrows: false,
              });
              const thumbnails = new Splide('.plan_detail_list_item_img_thumb', {
                isNavigation: true,
                type: 'loop',
                rewind: true,
                pagination: false,
                arrows: false,
                focus: 'center',
                fixedWidth: 116,
                gap: 2,
                perMove: 1,
                flickPower: 100,
                breakpoints: {
                  767: {// SP
                    fixedWidth: '33%',
                    gap: '0.5%',
                  },
                },
              });
              main.sync( thumbnails );
              main.mount();
              thumbnails.mount();
            </script>

            <section class="plan_detail_list_item_set">
                <h3 class="plan_detail_list_item_ttl">set content</h3>
                <div class="plan_detail_list_item_set_desc">
                    {{ content.body }}
                </div>
            </section>
          {{ content|without('field_media_image','field_price', 'body') }}
        </li>
    </ul>
</section>
