{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  {# 面包屑主模板 #}
  <nav{{attributes.addClass('bg-white p-4 text-sm')}} role="navigation" aria-labelledby="system-breadcrumb">
    {# 仅屏幕阅读器可见的标题 #}
    <h2 id="system-breadcrumb" class="sr-only">{{ 'Breadcrumb'|t }}</h2>
    {# 面包屑列表 #}
    <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
    {% set position = 1 %}
    {% for item in breadcrumb %}
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        {% if item.is_current %}
          <span aria-current="page">{{ item.text }}</span>
          <meta itemprop="name" content="{{ item.text }}" />
        {% else %}
          <a href="{{ item.url }}" itemprop="item">{{ item.text }}</a>
          <meta itemprop="name" content="{{ item.text }}" />
        {% endif %}
        <meta itemprop="position" content="{{ position }}" />
      </li>
      {% set position = position + 1 %}
    {% endfor %}
    </ol>
  </nav>
{% endif %}
