{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
<div class="ml-4 ml:ml-10">
  <a{{attributes.addClass('flex md:flex-col items-center space-x-2 space-y-1')}} href="{{ path('<front>') }}" rel="home">
    {% if site_logo %}
    <img{{attributes.addClass('size-10')}} src="{{ site_logo }}" alt="{{ 'Home'|t }}" fetchpriority="high" />
    {% endif %}
    {% if site_name %}
    <span class="text-xs"  rel="home">{{ site_name }}</span>
    {% endif %}
  </a>

  {{ site_slogan }}
</div>
{% endblock %}
